---
import Layout from '../layouts/Layout.astro';

const languages: string[] = [
  "Rust",
  "Go",
  "Php",
  "Javascript/Typescript",
  "C#",
  "C++",
  "C",
  "Gleam"
];

const frameworks: [string, string][] = [
  ["Raylib", "Godot"],
  ["React", "Unity"],
  ["Vue", "Protobuf"],
  ["Svelte", "SQLC"],
  ["Flask", "Vitest"],
  ["Django", "Playwright"],
  ["Tensorflow", "Express.js"],
  ["Pytorch", "Tailwind"],
  ["Transformers", "Hono.js"],
  ["Shadcn", "Jquery"],
  ["Inertia", "Nginx/Apache"],
  ["Laravel", "Docker/Kubernetes"],
];
---

<Layout>
  <main class="flex flex-col justify-center items-center gap-4">
    <p>I have written <code>Hello World!</code> in { languages.length } languages</p>
    <code class="text-white bg-gray-800 rounded-md backdrop-opacity-[0.5]">
      {languages.map((data) => <p class="p-2 backdrop-opacity-[0.5]">{data}</p>)}
    </code>
    
    <p>My favorite programming language.</p>
    <code>You can't spell `Lets Go`, without GO!</code>

    <p>My favorite tech stack. <code class="text-white bg-gray-800 rounded-md backdrop-opacity-[0.5] p-[0.1rem]">GPGS</code></p>
    <code class="text-white bg-gray-800 rounded-md backdrop-opacity-[0.5] p-2">
      Go
      Postgres
      Gin
      Svelte
    </code>

    <code>You can't spell `Lets Go`, without GO!</code>

    <p>I have used these tools / frameworks</p>

    <table class="table-auto border-collapse border border-gray-300 rounded-md">
      <thead>
        <tr>
          <th class="p-2 border border-gray-300">Language</th>
          <th class="p-2 border border-gray-300">Tools</th>
        </tr>
      </thead>
      <tbody>
        {frameworks.map(([framework, tool]) => (
          <tr class="border-b border-gray-300">
            <td class="px-4 py-2 border border-gray-300">
              <a href="/tech" class="text-white hover:underline hover:underline-offset-4 hover:decoration-2">{framework}</a>
            </td>
            <td class="px-4 py-2 border border-gray-300">
              <a href="/tech" class="text-white hover:underline hover:underline-offset-4 hover:decoration-2">{tool}</a>
            </td>
          </tr>
          ))}
      </tbody>
    </table>

  </main>
</Layout>
