---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="flex flex-col justify-center items-center gap-4 p-4 h-full">
    <p>Hello, I'm Silvestrs, a Full-stack developer</p>
    <p>A developer with a passion for security and self improvement</p>
    <button type="submit" class="font-bold rounded border-2 border-white pt-2 px-2 pb-3 hover:underline hover:underline-offset-4 hover:decoration-4 mt-auto">Contact me</button>
  </main>
</Layout>
