---
import { getCollection } from 'astro:content';

// Fetch all books from the authors collection
const schedule = await getCollection('schedule');

import Layout from '../layouts/Layout.astro';
const title = 'Schedule';

function getDaysInMonth(year, month) {
  return new Date(year, month, 0).getDate();
}

function getDaySchedule(id) {
    return schedule.filter(schedule => schedule.id == id);
}

const date = new Date();
const currentYear = date.getFullYear();
const currentMonth = date.getMonth() + 1;

const days = getDaysInMonth(
  currentYear,
  currentMonth,
);

const daysArray = Array.from({length: days}, (_, i) => i + 1);

// console.log(schedule);
---

<Layout title={title}>
    <!-- <UnderConstruction /> -->
    <main>
        <p>Showing schedule for : {currentMonth}/{currentYear}</p>
        <p>Total work days: {schedule.length}</p>
        {daysArray.map((data) => (
        <div></div>
        ))}
    </main>
</Layout>
