---
import Layout from '../../layouts/Layout.astro';

const title = 'Ruckas Muiža';
---

<Layout title={title}>
  <main>
    <p class="text-center text-white text-2xl font-bold">Ruckas Muiža</p>
    <p class="pl-4 text-white text-xl">A website for Ruckas Muiža, a local piece of history in Cesis, standing proudly since 1577, has survived a fire and has been renovated and restored by the new owners a few years back. This website was built by me and 5 other developers.</p>
  </main>
</Layout>